html, body,
.full-height {
    height: 100%;
}

.row-md-1 {
   height: 8.3%;
}
.row-md-4 {
	height: 33.3%;
}

.row-md-8{
	height: 66.6%;
}

.reading-area {
  height: 100%;
  overflow: scroll;;   
}


/* style for panel */
.left-panel{
	background-color: #424242;
	color: white;
}

.middle-panel{
	background-color: #F5F5F5;
}